<nav class="h-sidebar h-bar-block h-collapse h-large h-theme-l5 h-animate-left" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()"
        class="h-right h-xlarge h-padding-large h-hover-black h-hide-large" title="Close Menu">
        <i class="fa fa-remove"></i>
    </a>
    <h4 class="h-bar-item"><b>Menu</b></h4>
    <a class="h-bar-item h-button h-hover-black" href="#">Link</a>
    <a class="h-bar-item h-button h-hover-black" href="#">Link</a>
    <a class="h-bar-item h-button h-hover-black" href="#">Link</a>
    <a class="h-bar-item h-button h-hover-black" href="#">Link</a>
</nav>