<div class="h-top">
    <div class="h-bar h-theme h-top h-left-align h-large">
        <a class="h-bar-item h-button h-right h-hide-large h-hover-white h-large h-theme-l1" href="javascript:void(0)"
            onclick="w3_open()"><i class="fa fa-bars"></i></a>
        <a href="#" class="h-bar-item h-button h-theme-l1">Logo</a>
        <a href="#" class="h-bar-item h-button h-hide-small h-hover-white">About</a>
        <a href="#" class="h-bar-item h-button h-hide-small h-hover-white">Values</a>
        <a href="#" class="h-bar-item h-button h-hide-small h-hover-white">News</a>
        <a href="#" class="h-bar-item h-button h-hide-small h-hover-white">Contact</a>
        <a href="#" class="h-bar-item h-button h-hide-small h-hide-medium h-hover-white">Clients</a>
        <a href="#" class="h-bar-item h-button h-hide-small h-hide-medium h-hover-white">Partners</a>
    </div>
</div>