.platform-logo {
    display: inline-block;
    width: 120px;
    height: 43px;
    padding: 0px 12px 0 12px;
    background: white !important;
}

.h-hover-white.active {
    color: #000 !important;
    background-color: #fff !important
}