<div class="h-top">
    <div class="h-bar h-theme h-top h-left-align h-large">
        <a class="h-bar-item h-button h-right h-hide-large h-hover-white h-large h-theme-l1" href="javascript:void(0)"
            onclick="w3_open()"><i class="fa fa-bars"></i></a>
        <a href="#" class="h-bar-item h-button h-theme-l1 platform-logo">
            <img src="assets/images/h-excel-logo.svg">
        </a>
        <a [routerLink]="['/about']" routerLinkActive="active"
            class="h-bar-item h-button h-hide-small h-hover-white">About</a>
        <a [routerLink]="['/functions']" routerLinkActive="active"
            class="h-bar-item h-button h-hide-small h-hover-white">Functions</a>
        <a [routerLink]="['/templates']" routerLinkActive="active"
            class="h-bar-item h-button h-hide-small h-hover-white">Templates</a>
        <a [routerLink]="['/tips']" routerLinkActive="active"
            class="h-bar-item h-button h-hide-small h-hover-white">Tips</a>
        <a [routerLink]="['/test']" routerLinkActive="active"
            class="h-bar-item h-button h-hide-small h-hide-medium h-hover-white">Test</a>
        <a [routerLink]="['/training']" routerLinkActive="active"
            class="h-bar-item h-button h-hide-small h-hide-medium h-hover-white">Training</a>
    </div>
</div>