<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="h-overlay h-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay">
</div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="h-main" style="margin-left:250px">

  <div class="h-row h-padding-64">
    <div class="h-twothird h-container">
      <h1 class="h-text-teal">Heading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
    </div>
    <div class="h-third h-container">
      <p class="h-border h-padding-large h-padding-32 h-center">AD</p>
      <p class="h-border h-padding-large h-padding-64 h-center">AD</p>
    </div>
  </div>

  <div class="h-row">
    <div class="h-twothird h-container">
      <h1 class="h-text-teal">Heading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
    </div>
    <div class="h-third h-container">
      <p class="h-border h-padding-large h-padding-32 h-center">AD</p>
      <p class="h-border h-padding-large h-padding-64 h-center">AD</p>
    </div>
  </div>

  <div class="h-row h-padding-64">
    <div class="h-twothird h-container">
      <h1 class="h-text-teal">Heading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
    </div>
    <div class="h-third h-container">
      <p class="h-border h-padding-large h-padding-32 h-center">AD</p>
      <p class="h-border h-padding-large h-padding-64 h-center">AD</p>
    </div>
  </div>

  <!-- Pagination -->
  <div class="h-center h-padding-32">
    <div class="h-bar">
      <a class="h-button h-black" href="#">1</a>
      <a class="h-button h-hover-black" href="#">2</a>
      <a class="h-button h-hover-black" href="#">3</a>
      <a class="h-button h-hover-black" href="#">4</a>
      <a class="h-button h-hover-black" href="#">5</a>
      <a class="h-button h-hover-black" href="#">»</a>
    </div>
  </div>

  <footer id="myFooter">
    <div class="h-container h-theme-l2 h-padding-32">
      <h4>Footer</h4>
    </div>

    <div class="h-container h-theme-l1">
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
  </footer>

  <!-- END MAIN -->
</div>