<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">

<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="h-overlay h-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay">
</div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="h-main" style="margin-left:250px">

  <router-outlet></router-outlet>

  <app-footer></app-footer>

  <!-- END MAIN -->
</div>